body, html {
    height: 72%;
    margin: 0;
    background-color: rgb(169, 186, 204);
  }
  
  * {
    box-sizing: border-box;
  }
  /* Taustakuvat */
  .bg-image {
    width: 100%;
    height: 80%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .img1 { background-image: url("img/bgi1.JPG"); }
  .img2 { background-image: url("img/bgi2.JPG"); }
  .img3 { background-image: url("img/bgi3.jpg"); }
  .img4 { background-image: url("img/bgi4.jpg"); }
  .img5 { background-image: url("img/bgi5.jpg"); }
  .img6 { background-image: url("img/bgi6.jpg"); }
/* Taustakuvat loppuu */

.topnav{
  display: none;
}
  /* Banner */
.mainbanner{
    position: relative;
    top: 0px;
    width: 100%;
    height: 7vw;
    background-color: orange;
}

.navbuttons{
  position: relative;
  left: 45%;
  font-size: 1vw;
  border-radius: 4px;
  float: left;
  background-color: gray;
  border: solid orange;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.navbuttons:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: orange;
}

 .bannerbottom{
    height: 60%;
    position: relative;
    top: 40%;
    background-color: gray;
 }

 .intro{
   background: -webkit-linear-gradient(white, orange);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-style: italic;
   margin: 0%;
   position: relative;
   top: 10%;
   left: 40%;
 }
 /*Pääbanneri Loppuu */
 
 
 /*Bottom banner */

 #storesearch{
   font-size: 1vw;
   position: absolute;
   right: 9%;
   top: 35%;
 }

 #cart{
  border: none;
  background-color: gray;
  font-size: 1.5vw;
  position: absolute;
  right: 2%;
  top:21%;
 }
 #cart:active{
  background-color: rgb(139, 139, 139);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
 }
 #cart:hover{
   color: orange;
 }

/*Index*/



.maincontainer{
  padding-top: 5%;
  position: absolute;
  height: 100vw;
  background-color: rgba(63, 63, 63, 0.904);
  width: 80%;
  left: 10%;
  display: flex;
  align-items: center;
}
.maincontent{
  background-color: aliceblue;
  height: 85%;
  width: 70%;
  margin: 0 auto;
}
 

}
 /*Store /slideshow*/

.slideshow{
  position: relative;
}
.mySlides{
  position: relative;
  margin: 0 auto;
  height: 40vw;
  padding-bottom: 2%;
  width: 60vw;
}

#slideshowtxt{
  right: 12%;
  position: relative;
  font-size: 2vw;
}

/*Store/ Content */

.storecontainer{
  position: relative;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, rgb(46, 46, 46), rgba(99, 99, 99, 0.801));
  width: 95%;
  height: 130vw;
  top: -2.2%;
  padding-top: 3%;
}

.storecontent{
  display: flex;
  background-color: orange;
  margin: 0 auto;
  width: 78%;
  height: 100%%;
  justify-content: center;
  flex-wrap: wrap;
}

.tuote{
  background-image: radial-gradient(circle, white, grey);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 40%;
  text-align: center;
  font-family: arial;
  padding-top: 1%;
  margin: 2%;
  width: 25%;
}

#tuotek{
  width: 50%;
}

.tuote button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.tuote button:hover {
  opacity: 0.7;
}


.bottombanner{
  position: relative;
  background-color: gray;
  height: 40%;
  
}