body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(169, 186, 204);
  }

  * {
    box-sizing: border-box;
  }
  /* Taustakuvat */
  .backgroundimages{
  height: 35vw;
  }
  .bg-image {
    width: 100%;
    height: 60%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .img1 { background-image: url("img/Background/bgi1.JPG"); }
  .img2 { background-image: url("img/Background/bgi2.JPG"); }
  .img3 { background-image: url("img/Background/bgi3.jpg"); }
  .img4 { background-image: url("img/Background/bgi4.jpg"); }
  .img5 { background-image: url("img/Background/bgi5.jpg"); }
  .img6 { background-image: url("img/Background/bgi6.jpg"); }
/* Taustakuvat loppuu */

.topnav{
  position: relative;
  display: none;
}
/* Main Banner */
.banner {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 132px;
  background-color: gray;
}
.bannertop {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  background-color: orange;
}
.title { /* sivuston nimi bannerissa*/
  font-size: 3vw;
  float: left;
  background-image: -webkit-linear-gradient(left, black 25%, red 37.5%, red, rgb(248, 161, 0) 62.5%, black 75%);
  background-image: linear-gradient(90deg, black 25%, red 37.5%, red, rgb(248, 161, 0) 62.5%, black 75%);
  background-position: right center;
  background-size: 400% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: black;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transition: color 200ms linear;
}

.title:hover{
  background-position: left center;
  color: gray;
  transition: background-position 2000ms ease-out;
}

.logo { /*bannerin logo*/
  height: 100%;
  float: left;
}

.some{
  margin-right: 2%;
  margin-top: 1%;
  float: right;
  position: relative; 
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;

}

.some::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: black;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}
.some:hover::before {
  transform: scale(1.5);
  box-shadow: 0 0 15px black;  
}

.some:hover {
  color: black;
  box-shadow: 0 0 5px black;
  text-shadow: 0 0 5px black;
}

.bannerbottom {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 52px;
  background-color: gray;
  display: flex;
}
.intro {
  float: right;
  background: -webkit-linear-gradient(white, orange);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  margin:auto;
  font-size: 2vw;

}
.medialink {
  position: relative;
  width: 10%;
  height: 100%;
  border: 4px solid grey;
  float: left;
  background-color: red;
  box-sizing: border-box;
  
}
.medialink:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: orange;
}
/* navigointi menu tehty listalla!*/
.nav {
  list-style-type: none;
  width: 30%;
  margin: 0 auto;
  padding: 0;  
}

.storenav{
  align-self: flex-start;
}

li a { /* muuttaa listan horisontaaliseksi */  /*KAIKKI MUUT RESPOSIIVISTA PAITSI TÄMÄ? MIKSI?*/
  float: left;
}
.navbutton { /* <a> tagi napit */
  font-size: larger;
  display: block;
  color:black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  background-color: gray;
  /*border: solid orange;*/
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.navbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: orange;
}
 /* Main Banner End */


 /*Home*/
.maincontainer{
  position: relative;
  height: 97vw;
  background-color: rgba(63, 63, 63, 0.795);
  width: 80%;
  margin: -29% auto;
  display: flex;
  align-items: center;
}
.headers{
  text-align: center;
  font-size: 2vw;
  text-decoration: underline orange;
  font-family: 'Gochi Hand', cursive;
  margin-bottom: 0;
}

h5{
  margin-bottom: 2%;
}
.maincontent{
  background-color: aliceblue;
  height: 85%;
  width: 75%;
  margin: 0 auto;
}
#herewego{
  text-align: center;
  background: -webkit-radial-gradient(orange,rgba(63, 63, 63, 0.904));
  margin: 0;
  font-size: 2vw;
}
#infotxt{
  text-align: center;
  font-size: 2vw;
  padding: 2% 2%;
  font-family: 'Gochi Hand', cursive;
}

#logo2{
  height: 16vw;
  object-fit: contain;
}

 /* Store */
.storebanner{
  justify-content: space-around;
}
.storenav{
  margin: 0 15%;
}

 #cart{
   margin: 0 auto;
  border: none;
  background-color: gray;
  height: 85%;

 }

#cartimg{
  height: 80%;
}

 #cart:active{
  background-color: rgb(139, 139, 139);
  box-shadow: 0 5px #666;
  transform: translateY(2px);
 }
 #cart:hover{
   color: orange;
 }
 /* store content */
 .storecontainer{
  position: relative;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, rgb(197, 197, 197), gray, rgba(66, 66, 66, 0.801));
  width: 80%;
  height: 100vw;
  padding-top: 3%;
}
.storecontent{
  display: flex;
  background-color: orange;
  margin: 0 auto;
  width: 73%;
  justify-content: center;
  flex-wrap: wrap;
}
.tuote{
  background-image: radial-gradient(circle, white, grey);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 40%;
  text-align: center;
  font-family: arial;
  font-size: 1vw;
  padding-top: 1%;
  margin: 2%;
  width: 38%;
  height: min-content;
  display: flex;
  flex-direction: column;
}
#tuotek{
  width: 50%;
  margin: 0 auto;
}
.tuote button {
  border: none;
  outline: 0;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 1vw;
}

.tuote button:active{
  box-shadow: 0 5px rgb(189, 107, 0);
  transform: translateY(1px);
}

.tuote button:hover {
  opacity: 0.7;
}

/* Store End*/


/* slideshow */
.slideshow{
  position: relative;
  top: auto;
  margin-left:auto;
  margin-right:auto;
  max-width:980px;
  width: 50%;
  height: 35vw;
}
.mySlides{
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  min-width: 40%;
}
#slideshowtxt{
  right: 12%;
  position: relative;
  font-size: 2vw;
}


/* Gallery */

.gallerycontainer{
  width: 95%;
  height: auto;
  display: flex;
  position: relative;
  background-color: rgba(63, 63, 63, 0.904);
  margin: -35% auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryitem{
  display: flex;
  width: 50%;
  height: 30%;
  flex-direction: column;
}

#glafoto{
  width: 70%;
  height: 22vw;
  margin: 0 auto;
  padding-top: 2%;
}

.gallerytxt{
  font-family: 'Gochi Hand', cursive;
  margin-top: 1%;
  text-align: center;
  font-size: 1.5vw; 
  color: orange;
}

/* Bottom Banner */
.bottombanner{
  display: flex;
  position: relative;
  background-color: gray;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.botlist{
  display: flex;
  flex-direction: column;
}
.pohjaotsikot{
  text-align: center;
}
.pohjalinkit{
  text-align: center;
  color: black;
  text-decoration: none;
  padding-bottom: 5%;
}
.pohjalinkit:hover{
  color: orange;
}
ul{
  list-style-type: none;
  padding-left: 2%;
  padding-right: 2%;
}
/* Bottom Banner End*/


/* Media Screen max 400px*/
@media screen and (max-width: 400px){
  
}



@media screen and (max-width: 800px){
  .banner{
    height: 17.7%
  }
  .some{
    display: none;
  }
  .bannerbottom{
    display: none;
    
  }
  .topnav{
    display: flex;
    justify-content: flex-end;
    z-index: 2;
  }
  .slideshow{
    display: none;
  }
}
